<div class="panel-inner">
  <h2 class="panel-title">About Heat Cosmologies and Technologies</h2>

  <div class="sub-section">
    <div class="sub-section-text">
      <p>
        In this project, Mari Nagem investigates shadow as an ancestral technology.
        The <em>Right to Shadow</em>, implemented in the <em>Land of Light</em>, challenges the legacy
        of colonial urbanism and the Enlightenment project, denouncing how the aridity of
        concrete and urban overheating deepen socio-environmental inequalities in tropical
        cities such as Fortaleza.
      </p>

      <p>
        Anchored in the concepts of <em>Buen Vivir</em> and <em>Lo-TEK</em>, the international residency
        <em>Mormaço</em> locates a transdisciplinary nexus between art, science, and ancestral knowledge.
        By consolidating shadow as an ancestral cooling technology and a gesture of poetic resistance,
        Mari Nagem's project repositions the aesthetic experience as a critical lens for reimagining
        collective survival amid contemporary climate disruption. (Lucas Dilacerda)
      </p>

      <p>
        <em>Mormaço: Art, climate, and resilient ways of living in cities</em> was part of
        <em>S+T+ARTS Buen-Tek</em>, co-funded by the European Union, under the STARTS - Science, Technology
        and Arts initiative of DG CNECT (GA no. LC- 03568052). The program was supported by Sony CSL Rome
        and Unifor and was held from September 2025 to March 2026.
      </p>
    </div>

    <div class="sub-section-image">
      <div class="image-container">
        <img src="{{ 'assets/images/headers/about.jpg' | relative_url }}"/>
      </div>
    </div>
  </div>

  <div class="sub-section">
    <div class="sub-section-text full">
      <p>
        The research and work were only possible due to the exceptional interdisciplinary
        team involved at every step of its development.
      </p>

      <p>
        <h4>Sony CSL - Rome:</h4>
        <ul>
          <li>Liaison Mediator & Project Coordination: Denise Lanzieri</li>
          <li>Scientific mentors: Matteo Bruno, Denise Lanzieri, Vittorio Loreto</li>
        </ul>

        <h4>Unifor:</h4>
        <ul>
          <li>Scientific mentor and twin coordinator: Hygor P. M. Melo</li>
        </ul>

        <h4>Thanks to everyone's sparkle:</h4>
        <ul>
          <li>Data analysis and computational development: Hygor P. M. Melo and Paulo Costa</li>
          <li>Spatial analysis in GIS and cartographic mapping: Lara Furtado and Patricía Lima</li>
          <li>Trans local expert and curator: Lucas Dilacerda</li>
          <li>Architect and art assistant: Beatriz Balduino</li>
          <li>Website design and development: Thiago Hersan and Kelly Su </li>
          <li>Game design and development: Emerson Fleming and Rodrigo Moreira</li>
          <li>Heatstroke exhibition team: Galeria Cave - Pedro Diógenes, Pedro Bessa, Virgínia Pinho, Dharana Vieira</li>
          <li>Special acknowledgements: Adriana Helena Moreira, Aliria Aiara Duarte, Breno Angelino,
              Geórgia Goiana, Júlio Jardim, and Projeto Flora do Campus.
          </li>
        </ul>
      </p>

      <p>
        Want to know more? Get in touch:<br>
        <a href="https://marinagem.com" target="_blank">https://marinagem.com</a><br>
        mari at marinagem.com
      </p>
    </div>
  </div>

  <div class="sub-section">
    <div class="sub-section-image-container">
      <div class="logo">
        <img src="{{ 'assets/images/logos/1_sonycsl.png' | relative_url }}"/>
      </div>

      <div class="logo">
        <img src="{{ 'assets/images/logos/2_starts.png' | relative_url }}"/>
      </div>

      <div class="logo">
        <img src="{{ 'assets/images/logos/3_unifor.png' | relative_url }}"/>
      </div>

      <div class="logo">
        <img src="{{ 'assets/images/logos/4_eu.png' | relative_url }}"/>
      </div>

      <div class="logo">
        <img src="{{ 'assets/images/logos/5_ec.png' | relative_url }}"/>
      </div>
    </div>
  </div>
</div>
