<div class="panel-inner">
  <h2 class="panel-title">How Does Solar Incidence Shape a City?</h2>

  <div class="sub-section">
    <div class="sub-section-text">
      <p>
        Shade is a primordial infrastructure needed in many cities, but has it become a forgotten system?
      </p>

      <p>
        This publication is part of an artistic and scientific research on shade accessibility in the city
        of Fortaleza, in the north of Brazil. Before targeting shade, it is important to understand solar
        incidence, which varies by geolocation and time. Fortaleza receives sunlight year-round, with a tropical
        climate and minimal temperature fluctuations, barely experiencing distinct seasons, presenting a particular
        solar calendar.
      </p>

      <p>
        As a starting point, we created a digital sundial for Fortaleza to investigate how solar incidence can
        shape a city.  Feel free to use the digital tool, alternating the day of the year, the time of the day,
        and the pole height to understand how solar incidence can vary.  The yellow line represents the sun
        incidence, while the red indicates the pole shadow.
      </p>
    </div>

    <div class="sub-section-image">
      <div class="image-container">
        <img src="{{ 'assets/images/headers/sundial.jpg' | relative_url }}"/>
      </div>
    </div>
  </div>

  <div class="sub-section">
    <div class="sundial-view">
      <div class="sundial-menu">
        <div class="field">
          <label for="sundial-3d-date">Date</label>
          <input id="sundial-3d-date" type="date" />
        </div>

        <div class="field">
          <label for="sundial-3d-time">Time</label>
          <input id="sundial-3d-time" type="time" step="60" value="08:00" />
        </div>

        <div class="field">
          <label for="sundial-3d-pole">Pole Length (m)</label>
          <input id="sundial-3d-pole" type="number" step="0.1" value="1.0" />
        </div>
      </div>

      <div id="sundial-3d-container" class="sundial-3d-container">
        <canvas id="sundial-3d-renderer" class="sundial-3d-renderer"></canvas>
      </div>
    </div>
  </div>

  <div class="sub-section">
    <div class="sub-section-text full">
      <p>
        But what if, in urban planning, we consider equal amounts of sun and shadows? Based on that question,
        after the digital sundial, another system (with a lot of math!) was created to planify and calculate the
        angles of solar incidence for a fixed look height facing south. The main goal was, after these
        calculations, to create a square divided into equal parts of light and dark, a perfect equilibrium,
        a kind of yin-yang, to be later transformed into speculative data-paintings.
      </p>

      <p>
        Interact with the tool below to create your own <em>Spatial Shadow Calendar</em>.
      </p>
    </div>
  </div>

  <div class="sub-section">
    <div class="sundial-view">
      <div class="sundial-menu">
        <div class="field">
          <label for="sundial-grid-month-min">Months (min, max, step)</label>
          <input id="sundial-grid-month-min" type="number" value="1" step="1" min="1" max="12" />
          <input id="sundial-grid-month-max" type="number" value="12" step="1" min="1" max="12" />
          <input id="sundial-grid-month-step" type="number" value="1" step="1" min="1" max="12" />
        </div>

        <div class="field">
          <label for="sundial-grid-hour-min">Hours (min, max, step)</label>
          <input id="sundial-grid-hour-min" type="number" value="6" step="1" min="6" max="17" />
          <input id="sundial-grid-hour-max" type="number" value="17" step="1" min="6" max="17" />
          <input id="sundial-grid-hour-step" type="number" value="1" step="1" min="1" max="12" />
        </div>

        <div class="field">
          <label for="psel-min">Pole Variation (min, max)</label>
          <input id="psel-min" type="number" value="0.5" step="0.01" min="0.0" max="1.0" />
          <input id="psel-max" type="number" value="0.5" step="0.01" min="0.0" max="1.0" />
        </div>

        <div class="field">
          <label class="hide" for="sundial-grid-pole">Pole Length (m)</label>
          <input class="hide" id="sundial-grid-pole" type="number" value="1.0" step="0.1" min="0.1" />

          <label for="a_bar">Light/Shade Ratio</label>
          <input id="a_bar" type="number" value="0.5" step="0.1" min="0.1" max="0.9" />
        </div>

        <div class="field">
          <label for="l_color">Light</label>
          <input id="l_color" type="color" value="#ffffff" />

          <label for="s_color">Shade</label>
          <input id="s_color" type="color" value="#444444" />
        </div>

        <div class="field">
          <button id="sundial-grid-update-button">Update</button>
        </div>
      </div>

      <div id="sundial-grid-container" class="sundial-grid-container"></div>
    </div>
  </div>

  <link rel="stylesheet" href="{{ 'css/sundial.css' | relative_url }}">
  <script src="{{ 'js/sundial-math.js' | relative_url }}"></script>
  <script src="{{ 'js/sundial-3d.js' | relative_url }}" type="module"></script>
  <script src="{{ 'js/sundial-grid.js' | relative_url }}"></script>
</div>
