<div class="panel-inner">
  <h2 class="panel-title">How to Build an Ecological City?</h2>

  <div class="sub-section">
    <div class="sub-section-text">
      <p>
        The first artistic proposal to build an ecological city from a shadow perspective was to create
        a clay cobogó (a modular, geometrically perforated Brazilian brick) with an adjacent in-built
        structure tailored to the climate needs of Fortaleza.
      </p>

      <p>
        Along the way, while trees become a problem for data analyses, due to their organicity and irregularity
        from a technocratic and binary perspective, I realized that it wasn't necessary to create another
        structure to generate shade, but rather to observe, with new eyes, these ancestral technologies of
        shade that we already possess, the trees.
      </p>

      <p>
        In Fortaleza, there is a street named Cidade Ecológica (Ecological City), in the Edson Queiroz
        neighborhood, where I found Ms. Liduina, the women using a pole as a shadow shelter while waiting for
        the bus. This is a tropical country; trees should be our specialty, not poles. That shift of perspective
        turned into a game.
      </p>

      <p>
        Welcome to Fortaleza in Cidade Ecológica, an online game that navigates the streets of Cidade Ecológica
        and lets you transform the space by planting local trees.
        A game on a shadow geography, where shade dignifies.
      </p>

      <p>
         Full game coming soon. Watch the demo video to learn more.
      </p>
    </div>

    <div class="sub-section-image">
      <div class="image-container">
        <img src="{{ 'assets/images/headers/game.jpg' | relative_url }}"/>
      </div>
    </div>
  </div>

  <div class="sub-section">
    <div class="wide-image-container video">
      <video src="{{ 'assets/images/game/game_demo_00.mp4' | relative_url }}" controls>
      </video>
    </div>
  </div>
</div>
