<div class="panel-inner">
  <h2 class="panel-title">How to Navigate the Shadows?</h2>

  <div class="sub-section">
    <div class="sub-section-text">
      <p>
        Navigating cities through their data is a complex process involving many variables, assumptions, and
        decision-making. Navigating cities that haven't been planned, that grow exponentially and organically, 
        like most Brazilian cities, I would say, present even more challenges, due to their shifting structures
        and unpredictable changes.
      </p>

      <p>
        In the context of increased climate instability and data accessibility, we've been working closely
        with Sony Computer Science Laboratories (CSL) Rome and the
        Center for Data Science and Artificial Intelligence
        (NCDIA) at Unifor, mapping shadow structures in Fortaleza and cross-referencing them with
        social and economic data.
      </p>

      <p>
        From the beginning, there was a clear answer. As buildings get taller, more shadow is cast.
        It was easy; let's build as many tall buildings as we can to cast as much shadow as possible.
        Yes, but of course no. A city is a house for many living beings. Every urban decision should take
        into consideration a range of factors, a mesh including rising temperatures, wind directions,
        water flow, heat gain, air quality, transportation, accessibility, life maintenance, and many more.
      </p>

      <p>
        <!-- Follow this link for a more technical description of the development of this part of the project. -->
      </p>
    </div>

    <div class="sub-section-image">
      <div class="image-container border">
        <img src="{{ 'assets/images/headers/map.jpg' | relative_url }}"/>
      </div>
    </div>
  </div>

  <div class="sub-section">
    <div class="sub-section-text full">
      <p>
        Some text goes here.
      </p>
    </div>
  </div>

  <div class="sub-section">
    <div class="wide-image-container">
      <div class="scaled-image-container border">
        <img src="{{ 'assets/images/maps/Edson_GIF_01_1000x1000px_slower.gif' | relative_url }}" />
      </div>
    </div>
  </div>
</div>
