<div class="text-nav" id="text-nav">
  <main class="frame" id="text-nav-frame">
    <p class="text" id="shade-text">
      <span class="sentence">
        Is shade truly accessible?
      </span>

      <span class="sentence" data-key="sundial">
        How does <button class="highlight" type="button" data-key="sundial">solar incidence</button>
        shape a city?
      </span>

      <span class="sentence" data-key="bus">
        <button class="highlight" type="button" data-key="bus">Who</button> needs shade?
      </span>

      <span class="sentence" data-key="exhibition">
        Find ways to avoid a <button class="highlight" type="button" data-key="exhibition">sunstroke</button>.
      </span>

      <span class="sentence" data-key="fortaleza">
        <button class="highlight" type="button" data-key="fortaleza">Fortaleza</button> is a city in Ceará,
        in the northeast of Brazil. It's defined by its constant, year-round sunlight.
      </span>

      <span class="sentence" data-key="maps">
        How to <button class="highlight" type="button" data-key="maps">navigate</button> the shadows?
      </span>

      <span class="sentence" data-key="game">
        How to build an <button class="highlight" type="button" data-key="game">ecological city</button>?
      </span>

      <span class="sentence" data-key="about">
        About heat <button class="highlight" type="button" data-key="about">cosmologies</button>
        <button class="highlight" type="button" data-key="about">and</button>
        <button class="highlight" type="button" data-key="about">technologies</button>.
      </span>

      <span class="sentence" data-key="process">
        A solar <button class="highlight" type="button" data-key="process">shaded path</button>.
      </span>
    </p>
  </main>
</div>
